/* Establecer el color de fondo de la página */
body {
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Centrar el contenido en el header */
header {
    text-align: center;
    padding: 20px;
}

/* Estilo para el h3 */
h3 {
    font-style: italic;
}

/* Estilo para la sección */
section {
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    text-align: justify;
    margin: 20px;
}

/* Estilo para el footer */
footer {
    text-align: center;
    padding: 20px;
    color: white;
}
